<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akshar.Ai</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h2>Draw a Hindi Character</h2>
    <canvas id="canvas" width="280" height="280"></canvas><br>
    <button onclick="clearCanvas()">Clear</button>
    <button onclick="predict()">Predict</button>
    <p id="result">Result: </p>
    <script src="../static/script.js"></script>
</body>
</html>
